/* For inline examples only */
.ui-body-c{background: none repeat scroll 0 0 #FFE6BF}

#PhotoSwipeTarget { width: 100%; height: 200px; }

.ui-content{background: none repeat scroll 0 0 #FFE6BF;padding:0px;}

.ps-carousel{background: none repeat scroll 0 0 #FFE6BF;}

img{
    max-width: 100%;
}
div.ps-document-overlay { max-height: 100%; }
div.ps-toolbar { margin-top: -1px; }

